NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:5173

AUTH0_DOMAIN=dev-yzdyhmdlk01w3b5c.us.auth0.com
AUTH0_AUDIENCE=https://authentication.development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/authentication_dev